 <html>
    <link rel="stylesheet" href="https://www.sky.com/assets/toolkit-core/v2.26.0/toolkit-core.min.css">
    <!-- Your App's Stylesheets/Assets, for example: -->
    <body>
        <main>
            <%= render @view_module, @view_template, assigns %>
        </main>
    </body>
 </html>